$colorPrimero :rgb(155, 221, 48 );
$colorSegundo :rgb(19, 19, 18);
$colorTercero :rgb(231, 247, 92);
$colorCuarto :rgb(10 ,10 ,10) ;
$colorQuinto :rgb(129, 116, 116); 
$colorSexto :rgb(224, 224, 224);
$colorSeptimo :rgb(12, 12, 12);
$colorOctavo :rgba(0, 0, 0, 0.7);
$colorNoveno :rgb(8, 8, 8);